@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@300&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    z-index: 999;
    font-family: "Oswald", system-ui;

}

:root {
    font-size: 16px;
}

/*body {
    margin: 1rem;
    padding-left: 1em;
}*/

header,
footer {
    background-color: #6c698d;
    /*padding: 0.5em;*/
    color: #f7f7f7;
}

.hero {
    background-image: url("/assets/img/4vestidos.jpg");
    background-blend-mode: lighten;
    height: 500px;
}

nav {
    /*background-color: #D4D2D5;*/
    color: #f7f7f7;
}

h1 {
    color: #f7f7f7;
    font-weight: 700;
    letter-spacing: 0.3rem;
    display: inline;
}

main {
    background-color: #BFAFA6;
}

article {
    background-color: #ff7300af;
}

section {
    /*    background-color: #AA968A;*/
    background-color: #BFAFA6;
}

aside {
    background-color: greenyellow;
}

/*footer {
    background-color: #6E6A6F;
    color: #f7f7f7;
}*/

.rezise {
    /*degradado en imagenes*/
    height: 25%;
    width: 25%;
}

img {
    mask-image: linear-gradient(black 80%,
            transparent);
}

.luna {
    height: auto;
    width: 50vw;
}

img2 {
    /*esto evita saltos en el sitio cuando cargan imagenes o videos en una pagina*/
    width: 100%;
    height: auto;
    aspect-ratio: 16/9;
}

table {
    border: 3px solid green;
}

.celdas {
    border: 2px solid rebeccapurple;
}

.logo {
    height: auto;
    width: auto;
}

.navegacion {
    /*list-style-type: none;*/
    margin: 0;
    padding: 0;
    list-style: none;

    li {
        display: inline;
    }

    li a {
        text-decoration: none;
        /*    color: #615f5f;*/
        color: #f7f7f7;
    }
}

.princess-sofia-regular {
    font-family: "Princess Sofia", cursive;
    font-weight: 400;
    font-style: normal;
}

.responsiveText {
    font-size: clamp(1rem, 2vw + 1rem, 3rem);
}

.negrita {
    font-weight: 600;
    letter-spacing: 0.1rem;
}

.container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height: 10rem;
    background-color: #eaeaeab3;
    /*margin: 0.5rem;*/
    width: 100vw;
    box-sizing: border-box;
    max-width: 100%;
}

.item {
    background-color: #4a944c;
    color: white;
    padding: 1rem;
    margin: 1px;
}

.clase05 {
    background: rgb(2, 0, 36);
    background: linear-gradient(90deg, rgba(2, 0, 36, 0.21) 0%, rgba(9, 9, 121, 0.652) 50%, rgba(0, 212, 255, 1) 100%);

    h2 {
        font-size: 2.5rem;
        font-weight: 700;
        text-transform: uppercase;
    }

    p {
        font-family: "Princess Sofia", cursive;
        font-size: 2rem;
        padding: 0.5rem;
    }
}

.box {
    width: 300px;
    height: 150px;
    padding: 10px;
    border: 2px solid #333;
    margin: 20px;
}

.relative-box {
    position: relative;
    left: 30px;
    top: 20px;
    background-color: #f0f0f0;
    width: 200px;
    height: 100px;
}

.absolute-box {
    position: absolute;
    right: 10px;
    bottom: 15px;
    background-color: #ccc;
    width: 150px;
    height: 150px;
}

.spacer {
    height: 3rem;
}

/* clase 06 selectores avanzados*/
div p {
    color: #E5E5E5;
    /*background-color: #6C698D;*/
}

div>p {
    color: #6cf16c;
    background-color: #908b87;
}

h4+p {
    font-size: 1.5em;
}

.producto {
    background-color: #2196F3;
    /* Fondo azul */
    color: white;
    /* Color del texto */
    padding: 20px;
    /* Relleno interno de cada producto */
    margin: 10px;
    /* Margen externo de cada producto */
    flex: 1 1 200px;
    /* Ajuste flexible: crece, encoge, tamaño base 200px */
    box-sizing: border-box;
    /* Incluir relleno y borde en el tamaño total */
}

/*clase 07 grid*/
.grid-container {
    display: grid;
    grid-template-columns: 200px 1fr 1fr;
    /* Una columna de 200px y otra que ocupa el espacio restante */
    grid-template-rows: auto 1fr auto;
    /* Tres filas, la del medio es flexible */
    gap: 10px;
    /* Espacio entre los elementos */
    border: 2px dotted red;
    padding: 1rem;
}

.header {
    grid-column: 1 / 4;
    /* La cabecera ocupa las dos columnas */
    border: 2px solid red;
}

.menu {
    height: 200px;
    grid-column: 1 / 2;
    /* El menú ocupa la primera columna */
    border: 2px solid red;
    border-radius: 50%;
}

.main {
    grid-column: 2 / 3;
    /* El contenido principal ocupa la segunda columna */
    border: 2px solid red;
}

.footer {
    grid-column: 2 / 3;
    /* El pie de página también ocupa las dos columnas */
    border: 2px solid red;
}

.filter-blur{
    /*backdrop-filter: invert(80%);*/
    filter: blur(5px);
}

.filter-hue{
    filter: hue-rotate(90deg);
}

.box-shadow{
    box-shadow: 10px 14px 4px -1px rgba(14,14,14,0.7);
-webkit-box-shadow: 10px 14px 4px -1px rgba(14,14,14,0.7);
-moz-box-shadow: 10px 14px 4px -1px rgba(14,14,14,0.7);
}

.sticky{
    position:sticky;
    top: 0;
}

.hero-section{
    background-image: url("../assets/img/4vestidos.jpg");
    height: 80vh;
    background-size: cover;
}